.daily-entry-left{
    height: 100%;
    padding-top: 5vh;
}
.label-and-select{
    display: flex;
    justify-content: space-between;
}
.label-and-select:nth-child(1),.label-and-select:nth-child(2){
    flex: 1;
}
.sel-label{
    width: 50%;
}
.lab-select{
    /* border-radius: 5px; */
    width: 50%;
}
.three-btn-div-container{
    display: flex;
    justify-content: center;
}
.thre-btn-div{
    margin-top: 15px;
    width: 50%;
}
.first-two-btn{
    display: flex;
    gap: 5px;
}
.notes-daily-entry{
    margin-top: 40px;
    font-size: small;
}